
.sign-up-box[id=box] {
    background-color: #FFFFFF;
    width: 80%;
    max-width: 60vh;
    min-width: 400px;
    height: 80%;
    margin-top: 40px;
    border-radius: 10px;
    padding: 35px;
}

form .container { 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-background { 
    background:rgba(104, 164, 223, .33);
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

button[type=submit] {
    background-color: #68A4DF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    margin-top: 5%;
    display: inline-block;
    box-sizing: border-box;
  }

button:hover {
    opacity: 90%;
}

.sign-up-input[type=text], .sign-up-input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(217, 217, 217, .46);
 }
  
 .center {
    text-align: center;
 }
  
 .message {
    color:red; 
    font-size: .9em;
 }